<h1 class="font-medium text-lg">Detail kontak</h1>
<a href="/contact" class="text-blue-600 block">Back</a>
<div class="border-2 p-3 rounded-md inline-block">
  <h1 class="text-lg font-semibold"><%= contact.nama %></h1>
  <p><%= contact.noHp %></p>
  <p><%= contact.email %></p>
</div>