<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title><%= title %></title>
</head>

<body>
  <nav>
    <%- include('nav') %>
  </nav>

  <div class="mx-auto w-[70%] mt-5 text-slate-900">
    <%- body %>
  </div>
</body>

</html>